.errorLite {
	background: #C00;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #FFF;
	font-size: 11px;
	line-height: 16px;
	padding: 4px 1.3em;
	position: absolute;
	margin: 2px 0 0 -2px;
	z-index: 1;
	display: none;
	cursor: pointer;
	color: #FFF;
}

/* This is a sample to make the input error more visible, you don't actually need this and can implement it in your own way */
input.error {
	border-color: #900;
}